## .gitignore for com.kagekirin.targzreader

## artifacts from running npm pack
*.tar.gz
*.tgz

Assets/Scripts/TarGzReader/Editor.meta
Assets/Scripts/TarGzReader/Editor/*.meta
Assets/Scripts/TarGzReader/Editor/*.cs
Assets/Scripts/TarGzReader/Editor/
Assets/Scripts/TarGzReader/Editor.meta
